@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100vh - 15px);
  background: url('./images/pattern-background-desktop.svg') no-repeat;
  background-size: 100%;
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.5;
  color: hsl(223, 47%, 23%);
  overflow-y: hidden;
}

.card {
  background: white;
  width: 420px;
  margin: 10vh auto;
  border-radius: 20px;
  box-shadow: 0 0 20px -10px hsl(224, 23%, 55%);
  text-align: center;
}

.cardContent {
  padding: 30px;
}

.cardContent p {
  color: hsl(224, 23%, 55%);
}

.headerImage {
  width: 420px;
  height: 200px;
  background-image: url('./images/illustration-hero.svg');
  background-repeat: round;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.priceTag {
  display: flex;
  justify-content: space-around;
  width: 320px;
  margin: 20px auto;
  align-items: center;
  border-radius: 10px;
  background: hsl(225, 100%, 98%);
}

.priceIcon {
  background: url('./images/icon-music.svg');
  width: 50px;
  height: 50px;
  background-repeat: round;
  margin: 25px;
}

.priceText {
  height: 50px;
  margin-right: 25px;
  text-align: left;
}

.priceContent {
  font-weight: bold;
  margin-bottom: 5px;
}

.price {
  color: hsl(224, 23%, 55%);
}

.priceLink {
  margin: 25px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
}

.priceLink:hover {
  cursor: pointer;
  text-decoration: none;
}

button {
  margin-top: 10px;
  padding: 15px;
  width: 320px;
  border-radius: 10px;
  border: none;
}

.proceed {
  background: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 0 4px 15px 0 hsl(224, 23%, 55%);
  font-weight: 900;
}

.proceed:hover {
  cursor: pointer;
}

.cancel {
  background: transparent;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}

.attribution {
  height: 15px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 375px) and (max-width: 375px)  {
  .main {
    background: hsl(225, 100%, 94%);
  }

  .card {
    margin: 8vh auto;
    width: 320px;
  }

  .headerImage {
    width: 320px;
    height: 170px;
  }

  .cardContent {
    padding: 10px 30px;
  }

  .cardContent h1 {
    font-size: 22px;
  }

  .priceTag {
    width: 260px;
  }

  .priceIcon {
    margin: 12px;
  }

  .priceText {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  .priceLink {
    text-align: right;
    font-size: 13px;
  }

  button {
    width: 260px;
  }
}
